<div class="oj-hybrid-padding">

  <body class="demo-disable-bg-image">
    <div id="sampleDemo" style="" class="demo-padding demo-container">
      <div id="componentDemoContent" style="width: 1px; min-width: 100%;">

        <div id="tooltipDiv">
          <a tabindex="0" href="#" tooltip-content="Tooltip">tooltip 1</a>
          <a tabindex="0" href="#" tooltip-content="
            Line 1
            <br>
            Line 2
            <br>
            Line 3
          ">tooltip 2</a>

        </div>
      </div>
    </div>
  </body>
</div>